---
import BtnInicio from "../components/BtnInicio.astro";
import Layout from "../layouts/Layout.astro";
import { figurasRetoricas } from "../lib/figurasRet";
figurasRetoricas.sort((a, b) => a.titulo.localeCompare(b.titulo));
---

<Layout title="Figuras Retóricas - Apuntes de Castellano">
    <main class="max-w-[1400px] mx-auto px-6 mb-14 mt-28 md:mt-36 text-center">
        <BtnInicio />
        <head>
            <h1 class="text-4xl font-semibold mt-20 mb-2">Figuras Retóricas</h1>
            <h2 class="text-center text-2xl font-light">Lista de las figuras retóricas</h2>
        </head>
        <section class="flex flex-wrap justify-center lg:justify-around gap-7 mt-20">
            {
                figurasRetoricas.map(figura => (
                    <article class="bg-emerald-50 w-80 lg:w-96 py-6 px-4 rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
                        <div class="flex items-center justify-between">
                            <h2 class="text-3xl text-left font-semibold">{figura.titulo}</h2>
                            <div class="w-36 text-right">
                                {figura.trimestre2 ? (
                                    <span>
                                        <span class="opacity-50">Trimestre: </span>
                                        <span class="font-bold text-primary">{figura.trimestre}</span> y <span class="font-bold text-primary">{figura.trimestre2}</span>
                                    </span>
                                ) : (
                                    <span>
                                        <span class="opacity-50">Trimestre: </span>
                                        <span class="font-bold text-primary">{figura.trimestre}</span>
                                    </span>
                                )}
                            </div>
                        </div>
                        <p class="text-lg my-4">{figura.descripcion}</p>
                        <span class="text-lg font-semibold">Ejemplo: <span class="font-medium">{figura.ejemplo}</span></span>
                    </article>
                ))
            }
        </section>
    </main>
</Layout>