---
const {titulo, descripcion, icono, iconColor, link} = Astro.props
---
<a href={link} class="grid items-center gap-2 grid-cols-4 w-96 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <div class=`flex items-center justify-center size-16 bg-${iconColor} rounded-full p-2`>
        <img src={icono} alt=`Icono de ${titulo.toLowerCase()}` class="size-14 p-1">
    </div>
    <div class="block col-span-3">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{titulo}</h5>
        <p class="font-normal text-gray-700">{descripcion}</p>
    </div>
</a>