---
import { conectores } from "../lib/conectores"
---
<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 lg:gap-x-20 xl:gap-x-48 gap-y-12 w-full px-4 py-8">
  {
    conectores.map(carta => (
      <article class="bg-emerald-50 w-full p-6 flex flex-col items-center rounded-3xl border-dashed border-black border-2 hover:scale-105 transition">
        <h2 class="text-3xl text-center font-semibold mb-4">{carta.titulo}</h2>
        <ul class="ml-4 list-disc text-xl font-medium max-w-48">
          <li class="mb-3">{carta.c1}</li>
          <li class="mb-3">{carta.c2}</li>
          <li class="mb-3">{carta.c3}</li>
          <li class="mb-3">{carta.c4}</li>
          <li class="mb-3">{carta.c5}</li>
        </ul>
      </article>
    ))
  }
</section>
